{% extends 'base.html.twig' %}

{% block title %}
    {{ 'message_sign_in'|trans }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="border border-light p-5" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h2 class="h3 mb-3 font-weight-normal text-center">{{ 'message_sign_in'|trans }}</h2>
                <label for="inputEmail">{{ 'label.mail'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" required autofocus>
                <label for="inputPassword">{{ 'label.password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-2" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-block mt-4 btn-info" type="submit">
                    {{  'message_sign_in'|trans }}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
