{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}

    {% if pagination is defined and pagination.items|length %}

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

            <section class="section services-section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="section-title text-center">
                                <h2>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ url('category_create') }}" class="title-add text-reset decoration-none">
                                        {{ 'title_category_list'|trans }}
                                    </a>
                                    {% else %}
                                        {{ 'title_category_list'|trans }}
                                    {% endif %}
                                </h2>
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ 'sort_by'|trans }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" type="button">
                                            {{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            {{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            {{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            {{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for category in pagination.items %}

                            <div class="col-sm-6 col-lg-4">
                                <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_view'|trans }}" class="text-reset text-decoration-none">
                                    <div class="feature-box-1 category">
                                        <div class="feature-content">
                                            <h5>{{ category.title }}</h5>
                                            <p><i class="fa fa-calendar mr-2"></i>{{ 'label_created_at'|trans }}: {{ category.createdAt|date('Y/m/d') }}</p>
                                            <p class="mb-3"><i class="fa fa-calendar mr-2"></i>{{ 'label_updated_at'|trans }}: {{ category.updatedAt|date('Y/m/d') }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </section>

            <div class="navigation mt-3">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}
{#    </div>#}
{% endblock %}