{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
{#    <div class="container">#}
        <div class="text-center pb-3">
            <h2>{{ 'title_category_list'|trans }}</h2>
        </div>

        {% if pagination is defined and pagination.items|length %}

            <p>
{#                <a href="{{ url('recipe_index') }}" title="{{ 'title_recipe_list'|trans }}" class="btn btn-dark rounded-0 my-2">#}
{#                    {{ 'title_recipe_list'|trans }}#}
{#                </a>#}
                <a href="{{ url('category_create') }}" title="{{ 'title_category_create'|trans }}" class="btn btn-dark rounded-0 my-2">
                    {{ 'title_category_create'|trans }}
                </a>
            </p>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in pagination.items %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.createdAt|date('Y/m/d') }}</td>
                        <td>{{ category.updatedAt|date('Y/m/d') }}</td>
                        <td>{{ category.title }}</td>
                        <td>
                            <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'category_view'|trans }}" class="text-decoration-none">
                                <svg class="bi bi-eye-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 8a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z"/>
                                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" clip-rule="evenodd"/>
                                </svg>
                            </a>
                            <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'category_edit'|trans }}" class="text-decoration-none">
                                <svg class="bi bi-pencil-square" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                                </svg>
                            </a>
                            {% if not category.recipes|length %}
                                <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'category_delete'|trans }}" class="text-decoration-none">
                                    <svg class="bi bi-trash-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}
{#    </div>#}
{% endblock %}