{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_list'|trans }}
{% endblock %}

{% block body %}

    {% if pagination is defined and pagination.items|length %}

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <section class="section services-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('recipe_create') }}" class="title-add text-reset decoration-none">
                                    {{ 'title_recipe_list'|trans }}
                                </a>
                                {% else %}
                                    {{ 'title_recipe_list'|trans }}
                                {% endif %}
                            </h2>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'sort_by'|trans }}
                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_id'|trans, 'recipe.id') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'recipe.createdAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'recipe.updatedAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_title'|trans, 'recipe.title') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_rating'|trans, 'recipe.rating') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for recipe in pagination.items %}

                    <div class="col-sm-6 col-lg-4">

                        <a href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'action_view'|trans }}" class="text-reset text-decoration-none">
                            <div class="feature-box-1 recipe">
                                <div class="feature-content">
                                    <h5>{{ recipe.title }}</h5>
                                    <p><i class="fa fa-star mr-2"></i>{{ 'label_rating'|trans }}: {{ recipe.rating|round(2, 'floor') }}</p>
                                    <p><i class="fa fa-folder mr-2"></i><span class="font-weight-bold">{{ 'label_category'|trans }}:</span>
                                        <a href="{{ url('recipe_index', {'filters.category_id' : recipe.category.id}) }}" title="{{ recipe.category.title }}">
                                            {{ recipe.category.title }}
                                        </a></p>
                                    <p><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">{{ 'label_created_at'|trans }}:</span> {{ recipe.createdAt|date('Y/m/d') }}</p>
                                    <p class="mb-3"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">{{ 'label_updated_at'|trans }}:</span> {{ recipe.updatedAt|date('Y/m/d') }}</p>
                                    <i class="fa fa-tags"></i>
                                    {% if recipe.tags is defined and recipe.tags|length %}
                                        {% for tag in recipe.tags %}
                                            <a href="{{ url('recipe_index', {'filters.tag_id' : tag.id}) }}" class="badge badge-dark" title="{{ tag.title }}">
                                                {{ tag.title }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="navigation mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}