{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_list'|trans }}
{% endblock %}

{% block body %}
{#    <div class="text-center pb-3">#}
{#        <h2>{{ 'title_recipe_list'|trans }}</h2>#}
{#    </div>#}

    {% if pagination is defined and pagination.items|length %}

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <section class="section services-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                                <h2>
                                    <a href="{{ url('recipe_create') }}" class="title-add text-reset decoration-none">
                                        {{ 'title_recipe_list'|trans }}
                                    </a>
                                </h2>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    SORTUJ WEDŁUG
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_id'|trans, 'recipe.id') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'recipe.createdAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'recipe.updatedAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_title'|trans, 'recipe.title') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_rating'|trans, 'ranking') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for recipe in pagination.items %}

                    <div class="col-sm-6 col-lg-4">
                        <a href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'action_view'|trans }}" class="text-reset text-decoration-none">
                            <div class="feature-box-1 recipe">
    {#                            <div class="icon">#}
    {#                                <i class="fa fa-desktop"></i>#}
    {#                            </div>#}
                                <div class="feature-content">
                                    <h5>{{ recipe.title }}</h5>
                                    <p>{{ 'label_category'|trans }}: {{ recipe.category.title }}</p>
                                    <p>{{ 'label_created_at'|trans }}: {{ recipe.createdAt|date('Y/m/d') }}</p>
                                    <p class="mb-3">{{ 'label_updated_at'|trans }}: {{ recipe.updatedAt|date('Y/m/d') }}</p>
                                    {% for tag in recipe.getTags() %}
                                        <a href="#" class="badge badge-dark">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="navigation mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}