{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_details'|trans({'%title%': recipe.title|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>{{ 'title_recipe_details'|trans }}</h2>
            <h3>{{ 'title_recipe'|trans({'%title%': recipe.title|default('')}) }}</h3>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-10">
                {% if recipe is defined and recipe|length %}
                    <div class="row">
                        <div class="col">
                            <dl class="dl-horizontal">
                                <dt>{{ 'label_id'|trans }}</dt>
                                <dd>{{ recipe.id }}</dd>
                                <dt>{{ 'label_title'|trans }}</dt>
                                <dd>{{  recipe.title }}</dd>
                                <dt>{{ 'label_ingredients'|trans }}</dt>
                                <dd>
                                    <ul>
                                        {% for ingredient in recipe.getIngredients() %}
                                            <li>
                                                {{ ingredient.title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl class="dl-horizontal">
                                <dt>{{ 'label_created_at'|trans }}</dt>
                                <dd>{{ recipe.createdAt|date('Y/m/d') }}</dd>
                                <dt>{{ 'label_updated_at'|trans }}</dt>
                                <dd>{{ recipe.updatedAt|date('Y/m/d') }}</dd>
                                <dt>{{ 'label_category'|trans }}</dt>
                                <dd><a href="url('category_show', {id: category.id})">{{  recipe.category.title }}</a></dd>
                                <dt>{{ 'label_tags'|trans }}</dt>
                                <dd>
                                    {% for tag in recipe.getTags() %}
                                        {#                                <span class="badge badge-pill badge-info">{{ tag.title }}</span>#}
                                        <a href="#" class="badge badge-info">{{ tag.title }}</a>
                                    {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row bootstrap snippets">
                        <div class="col-md-6 col-md-offset-2 col-sm-12">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        {{ 'comment_panel'|trans }}
                                    </div>
                                    <div class="panel-body">

                                        {% for element in recipe.comments %}
                                            <hr>
                                            <ul class="media-list px-0">
                                                <li class="media">
                                                    <div class="media-body">
                                                        <span class="text-muted pull-right">
                                                            <small class="text-info">{{ element.author.email }}</small>
                                                            <small class="text-muted">{{ element.createdAt|date('Y/m/d') }}</small>
                                                        </span>
                                                        <p>{{ element.text }}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and comment_form is defined %}
                                                {{ form_start(comment_form, { method: 'POST', action: url('recipe_show', {id: recipe.id}) }) }}
                                                {{ form_widget(comment_form) }}
                                                <input type="submit" value="{{ 'post'|trans }}" class="btn btn-info pull-right rounded-0 mb-3" />
                                            {{ form_end(comment_form) }}
                                        {% else %}
                                            <p><a href="{{ url('app_login') }}">{{ 'message_sign_in'|trans }}</a>, {{ 'desctiption.login_to_comment'|trans }}.</p>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <p>
                        {{ 'message_item_not_found'|trans }}
                    </p>
                {% endif %}
                <p>
                    <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-dark rounded-0 my-2">
                        {{ 'action_back_to_list'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}