{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tag_list'|trans }}
{% endblock %}

{% block body %}

    {% if pagination is defined and pagination.items|length %}

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <section class="section services-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2>
{#                                <a href="{{ url('tag_create') }}" class="title-add text-reset decoration-none">#}
                                    {{ 'title_tag_list'|trans }}
{#                                </a>#}
                            </h2>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    SORTUJ WEDŁUG
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_id'|trans, 'tag.id') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'tag.createdAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'tag.updatedAt') }}
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        {{ knp_pagination_sortable(pagination, 'label_title'|trans, 'tag.title') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for tag in pagination.items %}

                        <div class="col-sm-6 col-lg-4">
                            <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action_view'|trans }}" class="text-reset text-decoration-none">
                                <div class="feature-box-1 category">
                                    <div class="feature-content">
                                        <h5>{{ tag.title }}</h5>
                                        <p>{{ 'label_created_at'|trans }}: {{ tag.createdAt|date('Y/m/d') }}</p>
                                        <p class="mb-3">{{ 'label_updated_at'|trans }}: {{ tag.updatedAt|date('Y/m/d') }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="navigation mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    {#    </div>#}
{% endblock %}