{% include 'default/_form.html.twig' with {
    page_title: 'title.data_edit',
    page_title_param: {'%id%': userdata.id},
    attr: {
        method: 'PUT',
        action: url('user_edit', {'id': userdata.id}),
    },
} %}
{#{% extends 'base.html.twig' %}#}

{#{% block title %}#}
{#    {{ 'label_change_data'|trans }}#}
{#{% endblock %}#}

{#{% block body %}#}

{#    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">#}
{#    <div class="container">#}
{#        <div class="row flex-lg-nowrap justify-content-center">#}

{#            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">#}
{#                <div class="card p-3">#}
{#                    <div class="e-navlist e-navlist--active-bg">#}
{#                        <ul class="nav">#}
{#                            <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Podgląd</span></a></li>#}
{#                            <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Zmiana danych</span></a></li>#}
{#                            <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Zmiana hasła</span></a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col">#}
{#                <div class="row">#}
{#                    <div class="col mb-3">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <div class="e-profile">#}
{#                                    <div class="row">#}
{#                                        <div class="col-12 col-sm-auto mb-3">#}
{#                                            <div class="mx-auto" style="width: 140px;">#}
{#                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">#}
{#                                                    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">#}
{#                                            <div class="text-center text-sm-left mb-2 mb-sm-0">#}
{#                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">#}
{#                                                    {{ user.userdata.firstName }} {{ user.userdata.lastName }}#}
{#                                                </h4>#}
{#                                                <p class="mb-0">@{{ user.userdata.nick }}</p>#}
{#                                                <div class="mt-2">#}
{#                                                    <button class="btn btn-info rounded-0" type="button">#}
{#                                                        <i class="fa fa-fw fa-camera"></i>#}
{#                                                        <span>Change Photo</span>#}
{#                                                    </button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="tab-content pt-3">#}
{#                                        <div class="tab-pane active">#}
{#                                            <form class="form" novalidate="">#}
{#                                                <div class="row">#}
{#                                                    <div class="col">#}
{#                                                        <div class="row">#}
{#                                                            <div class="col">#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>{{ 'label_firstName'|trans }}</label>#}
{#                                                                    <input class="form-control" type="text" name="name" placeholder="{{ user.userdata.firstName }}" value="{{ user.userdata.firstName }}">#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="col">#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>{{ 'label_lastName'|trans }}</label>#}
{#                                                                    <input class="form-control" type="text" name="username" placeholder="{{ user.userdata.lastName }}" value="{{ user.userdata.lastName }}">#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="row">#}
{#                                                            <div class="col">#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>{{ 'label_nick'|trans }}</label>#}
{#                                                                    <input class="form-control" type="text" placeholder="{{ user.userdata.nick }}">#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="col">#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>{{ 'label.mail'|trans }}</label>#}
{#                                                                    <input class="form-control" type="text" placeholder="{{ user.email }}">#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="row">#}
{#                                                    <div class="col d-flex justify-content-end">#}
{#                                                        #}{#                                                        <button class="btn btn-info rounded-0" type="submit">{{ 'action_save'|trans }}</button>#}
{#                                                        <input type="submit" value="{{ submit_label|default('action_save'|trans) }}" class="btn btn-info rounded-0" />#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </form>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}

{#{% endblock %}#}